/* Global styling for the body */
body {
  background: black;
  color: white;
}

/* Styling for the movie app container */
.movie-app {
  padding: 20px; 
}

/* Styling for the column */
.col {
  overflow-y: auto;
  flex-wrap: nowrap;
}

/* Styling for movie titles */
.movie-title {
  padding: 20px;
}

/* Styling for h2 elements */
h2 {
  padding: 10px;
}

/* Styling for h1 elements (movie list heading) */
h1 {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;

} 

/* Styling for movie list images */
.movie-list img {
  display: block;
  margin-left: 5px;
  margin-right: 20px;
  max-width: 200px;  
  max-height: 300px; 
  padding: 10px; 
  border: 5px solid white;
}
